.user {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    padding: 2rem;
    border-radius: 0.25rem;
    width: 20rem;
    margin: 2rem 1rem 0 0;
    cursor: pointer;
  &__name
   {
    font-size: 1.4rem;
  }
}